*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.2)), url(Assets/WhatsApp\ Image\ 2023-10-13\ at\ 18.53.31_ee0ec64e.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav{
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 53px;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    color: white;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px ;
    font-size: 20px;
    position: relative;

}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(60, 60, 255);
    border-radius: 8px;
}
.h-text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.h-text span{
    letter-spacing: 5px;
}

.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: rgba(60, 60, 255);
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
    transition: 0.4s;
}

.menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover::before{
    width: 90%;
}

.register a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.h-text a:hover{
    background: transparent;
    border: 1px solid indianred;
}
.features{
    text-align: center;
    padding: 50px 0;
}

.features h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.feature-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.feature{
    width: calc(33.3% - 20px);
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom:20px;
}
.feature:hover{
    transform: scale(1.5);
}
.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.feature h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* Add hover effect to feature cards */
.feature:hover {
    transform: scale(1.05);
    background-color: var(--primary-color); /* Change to your desired color */
}

/* Table Section */
.table {
    text-align: center;
    padding: 50px 0;
}

.table h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}